<h1> Residencias </h1>

<table>
	<thead>
		
		<tr>Nombre</tr>
		<tr>Descripcion</tr>
		
	</thead>

<tbody>
<label for="name"> Name</label>
 <input type="text" id="name" name="name" placeholder="Nombre residence">
	<%= @residences.each do |residence| %>

	<tr>
		<td><%= residence.name %></td>
		
		<td> </td>
	</tr>
	<% end %>
</tbody>
</table>

<br>