<h1> Listado de Residencias </h1>

<table class="table">

	<tr>
		<th> Nombre </th>
	</tr>

	<% residencias = Residencia.all %>
	<% residencias.each do |residencia| %>
		<tr>
			<td> <%= residencia.nombre %> </td>
		</tr>
	<% end %>

</table>